@import '_reset.scss';

.clearFix{
	clear: both;
}

.wrap{
	width: 940px;
	margin: 0 auto;

	.caculatePart{
		width: 100%;
		background: #424242;
		height: 300px;
		border: 1px solid #424242;

		.caculatePartContent{
			width: 640px;
			margin: 90px auto;

			img{
				display: block;
				height: 120px;
				width: 120px;
				float: left;
				margin-right: 100px;
			}

			p{
				font-family: AppleSystemUIFont;
				font-size: 18px;
				color: #FFD366;
				display: inline-block;
			}

			.input{
				background: rgba(255,255,255,0.18);
				border: 2px solid #FFD366;
				width: 250px;
				border-radius: 10px;
				font-size: 24px;
				padding-left: 20px;
				caret-color:  rgba(255,255,255,0.50);
				display: block;
			}


			#getResult{
				border: none;
				background: #FFD366;
				font-family: PingFangTC-Regular;
				font-size: 24px;
				color: #424242;
				height: 120px;
				width: 120px;
				border-radius: 100px;
				display: block;
				float: right;
				margin-left: 50px;
				position: relative;
				top: -100px;
				outline: none;
			}

			#getResult:hover{
				cursor: pointer;
				//background: #DEA821;
			}

			#getResult:active{
				background: #DEA821;
			}

		}
		
		
	}

	.recordTitle{
		font-size: 24px;
		text-align: center;
		margin-top: 50px;
	}

	.recordPart{
		background-color: #F5F5F5;
		border: 1px solid #F5F5F5;

		.outputBMI{
			
			font-size: 20px;
			width: 625px;
			margin: 20px auto;
			list-style: none;

			li{
				background-color: #fff;
				//border-left: 8px solid;
				margin-top: 16px;
				height: 60px;
				padding-left: 12px;
				line-height: 60px;

				.titleHead{
					width: 100px;
					display: inline-block;
				}

				.titleName{
					font-size: 12px;
					margin-left: 40px;
				}

				.titleValue{
					width: 60px;
					display: inline-block;
				}
			}


			
		}
	}

	.footer{
		width: 100%;
		height: 90px;
		background-color: #424242;
		text-align: center;

		img{
			margin-top: 18px;
			width: 55px;
			height: 55px;
		}
	}
}